* text=auto

# Declare files that will always have CRLF line endings on checkout. (keep as example)
# Declare files that will always have LF line endings on checkout. (windows problem)
*.sh text eol=lf